@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 10px 20px;
    position: sticky;
    top: 0;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.navbar .brand {
    display: flex;
    align-items: center;
    margin-left: 8px;
}
.navbar .brand img {
    width: 80px; /* يمكنك تعديل هذا الحجم حسب الحاجة */
    height: auto; /* يجعل الارتفاع تلقائي للحفاظ على نسبة العرض إلى الارتفاع */
}

.navbar ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}
.navbar ul li {
    margin-left: 20px;
}
.navbar ul li a {
    text-decoration: none;
    color: #0a64a3;
    font-size: 18px;
}
.navbar ul li a:hover{
    color: #a2cc4b;
}
.navbar .menu-icon {
    display: none;
    font-size: 40px;
    cursor: pointer;
    color: #0a64a3;
}
@media (max-width: 768px) {
    .navbar ul {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: white;
        position: absolute;
        top: 60px;
        left: 0;
        padding: 10px 0;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }
    .navbar ul.active {
        display: flex;
    }
    .navbar ul li {
        margin: 10px 0;
        text-align: center;
    }
    .navbar .menu-icon {
        display: block;
    }
}


.footer {
    background-color:#0a64a3;
    color: #a2cc4b;
    padding: 20px 0;
    text-align: center;
}
.footer .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
.footer .column {
    flex: 1;
    min-width: 200px;
    margin: 10px;
}
.footer .column h3 {
    margin-bottom: 20px;
    font-size: 20px;
    color:#ffffff;
    font-weight: 700;
}
.footer .column ul {
    list-style: none;
    padding: 0;
}
.footer .column ul li {
    margin-bottom: 10px;
    
}
.footer .column ul li a {
    text-decoration: none;
    color: #a2cc4b;
    font-weight: 500;
}
.footer .column ul li a:hover{ color: #ffffff;}

.footer .social-icons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.footer .social-icons a {
    margin: 0 10px;
    color: #a2cc4b;
    font-size: 20px;
    text-decoration: none;
}
.footer .social-icons a:hover {
    color: #ffffff;
}
@media (max-width: 768px) {
    .footer .container {
        flex-direction: column;
        align-items: center;
    }
}


.section {
    padding: 60px 0;
    text-align: center;
}
.section h1, .section h2, .section h3 {
    margin-bottom: 20px;
    color: #a2cc4b;
    font-weight: 700;
}
.section p {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 1.6;
}
.btn {
    padding: 10px 20px;
    background-color: #a2cc4b;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.btn:hover {
    background-color: #0c283c;
}

#Accueil{
    background-color:#0a64a3 ;
    padding: 150px 0;
}
#Accueil p{
    color: #ffffff;
    font-weight: 550;
}
#Formations{
    background-color:#0a64a3 ;
}
#Formations p{ color: #ffffff;
    font-weight: 550;
}
#info p{
    font-weight: 550;
}
#Contact p{
    font-weight: 550;
    color: #0a64a3;
}
